{
  "sdk_type": {
    "value": "x7sy"
  },
  "CheckUserInfo": {
    "value": "http://checkuser.sdk.quicksdk.net/v2/checkUserInfo"
  },
  "pay_callback": {
    "value": "/pay_order"
  },
  "isolation": {
    "value": "0"
  },
  "ProductCode": {
    "value": "69866699973353362204259838800266"
  },
  "ProductKey": {
    "value": "25281280"
  },
  "Callback_Key": {
    "value": "92455827032281129929286439251161"
  },
  "Md5_Key": {
    "value": "m2iwqyjrgx798fo7cc6qulqqh8nrg00c"
  },
  "AppKey": {
    "value": "8b1c5b46d735e607e74f5c377f771c91"
  },
  "RSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCs6zSSoIX2BqZlN8ZK4GBfXno4OSBK5V7kwRCSyHQJ3bofcNshuNPyGMAlB6TIZoqgtzy2k0JxwLQKMjTg43MHAJ2+aZcEU07TgTPPpPLgdiKtw5OhFIrZn0tp8WETji+YEnRI57+1I/fp6kBjwvsl/vDNfB38ffuIWgkgsrfVUQIDAQAB"
  },
  "iosAppKey": {
    "value": "cbe36c35ba5852f8ef4725f53f3770d9"
  },
  "iosRSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4Mkxzdl19kB/ssIuUWm1RfkGDqky9Br514mwIjrX9EWe7O+enSaAljBm5pTsBih/IKhhwlTGYUvFLNfV+cCX6Hq3rJFpNb4QKHULEU+JHLJPedYkHmz/Y8TjdLo1VGR803kvcKydT0YtmdF6YAcgIYuDbqhpg2cA6kzzL43jc4QIDAQAB"
  }
}