{
  "sdk_type": {
    "value": "quick"
  },
  "CheckUserInfo": {
    "value": "http://checkuser.sdk.quicksdk.net/v2/checkUserInfo"
  },
  "pay_callback": {
    "value": "/pay_order"
  },
  "isolation": {
    "value": "0"
  },
  "ProductCode": {
    "value": "89666788445563095538919380555394"
  },
  "ProductKey": {
    "value": "26093987"
  },
  "Callback_Key": {
    "value": "34397392921841121787081342381165"
  },
  "Md5_Key": {
    "value": "wwwgiqvcid3clfuxwnh2ctpf9ivkp7qm"
  },
  "AppKey": {
    "value": "ca2bb70235a7a1aaf78c6c1adb489e5b"
  },
  "RSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDgd1hZiJ0ql96he5wN9giaORNs+6Z2kffezudvgkjOxFSaQjOIdB8nfZW5dIzbI/Uc2K/iKYWOCA265/17MfvQjTlahtrwKaV4wVM8UIA3q2XpaSum9rN+9OYusbChIyHuLZdroxUvuZJMsMz/Edxvma/oLLlfYo5FwDowTOdc2QIDAQAB"
  },
  "iosAppKey": {
    "value": "eabe1ef875865d541350036e08095d29"
  },
  "iosRSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDGB0iM7WmH4ItqSh07rrTQxsE1c56h9ugtRpqNcTN8faoL+Bey3FDhU/KTe/SzcfLXxILh8iGtKl8BBld3jMhNJ4MagsR+RYsVOH4AP8V3xNmfKJ4nS7Y1+muS+n7K95Zr1cGBpy5FKQ89S3xNNSS6zO5apyXLhLkZxD6pthNknQIDAQAB"
  }
}