{
  "sdk_type": {
    "value": "x7sy"
  },
  "CheckUserInfo": {
    "value": "https://api.x7sy.com/user/check_v4_login"
  },
  "pay_callback": {
    "value": "/pay_order"
  },
  "isolation": {
    "value": "0"
  },
  "ProductCode": {
    "value": "93760475864340545043421723782822"
  },
  "ProductKey": {
    "value": "29834692"
  },
  "Callback_Key": {
    "value": "93760475864340545043421723782822"
  },
  "Md5_Key": {
    "value": "eld7jsyykontyzlznw7femcgri9tjx3y"
  },
  "AppKey": {
    "value": "66dcb03fe3e2e477cac86c5da65cd677"
  },
  "RSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC+/S+DFyrnSYgCTT53YyYldE8dOXgClIWwwiE8lrUYeTfV/tuwaov3LRhtGG8MeFtw1q+2Ii2rESD6d9WCQZan1rMKhIfuzu9GJbbmnn/I8TYGrbQVmtwrrTQHleg2QqPV36A77dTadiZBvPYUfsjduCZscjSFpOEpc9GbOoLzawIDAQAB"
  },
  "iosAppKey": {
    "value": "174275e49bf2141864762da68292bbe8"
  },
  "iosRSA": {
    "value": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCzA51F2USfQHMnpsYhChC4DsvhVTxs+zJyw+u9V+7OMMTe8SymbW0prZQtqjXy35V/HunL/3GYlBWzU46FLE2RXWHrEIc806DlElicQ37JSaSUlwT56R2e1pzfTLM0dxppnrzAvj0j9YY68tuVZOzI5rEkDBNPkX48+2Yai1iefwIDAQAB"
  }
}