{
	"sdk_type" : "quick",
	"CheckUserInfo" : "http://checkuser.sdk.quicksdk.net/v2/checkUserInfo",
	"Md5_Key" : "hqiq3nkkg5vi6jtjdwwewvn2hedg5ien",
	"product_code" : "22215440206647639062472272929232",
	"pay_callback" : "/pay_order",
	"Callback_Key" : "88935664637100372302544107215453"
}