{
	"sdk_type" : "quick",
	"CheckUserInfo" : "http://checkuser.sdk.quicksdk.net/v2/checkUserInfo",
	"Md5_Key" : "prvftcbuqju4hvddagasq09rdtxg1zdr",
	"product_code" : "83492615470341199907304533200098",
	"pay_callback" : "/pay_order",
	"Callback_Key" : "72814013021425059269258606306563"
}