{
	"sdk_type" : "quick",
	"CheckUserInfo" : "http://checkuser.sdk.quicksdk.net/v2/checkUserInfo",
	"Md5_Key" : "cfg2wvk0bzopeuqklkyzsfxuyobbcysp",
	"product_code" : "73631666912830348785399198371378",
	"pay_callback" : "/pay_order",
	"Callback_Key" : "08848287062362551832211963871472"
}